@model BokaMust.Models.ViewModels.GuideViewModel 

<div class="container-guide-results">
    <h2>Ditt resultat</h2>
    <p>
        Baserat på informationen du matat in så har vi gjort följande beräkning.
        Observera att resultatet är ungefärligt.
    </p>

    <p>Namn: @Model.SelectedApple.Name</p>
    <p>Vikt: @Model.SelectedApple.Weight</p>
    <p>Smak: @Model.SelectedApple.Description</p>
    <p>Mognadstid: @Model.SelectedApple.HarvestMonth</p>
    <p>Förpackning: @Model.SelectedPackage.Name</p>
    <p>Pris per liter: @Model.SelectedPackage.Cost</p>
    <p>Total kostnad: @Model.Price</p>


    <button type="button" id="btn-close-guide"><a class="btn" asp-area="" asp-controller="Home" asp-action="Index">Stäng</a></button>
</div>