@model BokaMust.Models.ViewModels.GuideViewModel 

<body>
    <div class="background-box">
        <div>
            <h4>Ditt resultat</h4>
            <p>
                Baserat på informationen du matat in så har vi gjort följande beräkning.
                Observera att resultatet är ungefärligt.
            </p>
        </div>

        <div>
            <h4>Vald äppelsort</h4>
            <p><i class="fa-solid fa-apple-whole"></i> Namn: @(Model.GetSelectedApple()?.Name ?? "Ingen äppelsort vald")</p>
            <i class="fa-solid fa-info"></i> Smak: @(Model.GetSelectedApple()?.Description ?? "Ingen information om smak tillgänglig") och gott</p>
            <p><i class="fa-solid fa-calendar"></i> Mognadstid: @(Model.GetSelectedApple()?.HarvestMonth ?? "Ingen information om mognadstid tillgänglig")</p>
        </div>

        <div>
            <h4>Vald förpackningstyp & mängd</h4>
            <p><i class="fa-solid fa-weight-scale"></i> Angiven vikt: @Model.Weight kg</p>
            @if (Model.GetSelectedPackage()?.Name == "Bag-in-box")
            {
                <p><i class="fas fa-box"></i> @Model.NumberOfBib st @(Model.GetSelectedPackage()?.Name ?? "Ingen förpackning vald") (@Model.GetSelectedPackage()?.Cost kr/l)</p>
                <p>
                    Uppskattningsvis får man ut cirka 60% av fruktens vikt i must,
                    vilket betyder att dina @Model.Weight kg kommer bli ungefär @Model.Volume liter must 
                    ( ca @Model.NumberOfBib st @(Model.GetSelectedPackage()?.Name ?? "Ingen förpackning vald")).
                    Pastöriserad must i Bag-in-box är hållbar i rumstemperatur minst ett år.
                    Öppnad förpackning bör förvaras i kylskåp och håller då 4 veckor
                </p>
            } 
            else if (Model.GetSelectedPackage()?.Name == "Råmust")
            {
                <p><i class="fas fa-bottle-water"></i> @Model.Volume liter @(Model.GetSelectedPackage()?.Name ?? "Ingen förpackning vald") (@Model.GetSelectedPackage()?.Cost kr/l)</p>
                <p>
                    Uppskattningsvis får man ut cirka 60% av fruktens vikt i must,
                    vilket betyder att dina @Model.Weight kg kommer bli ungefär @Model.Volume liter must.
                    Under denna mustning pastöriseras inte musten utan den pressas och tappas direkt på dina medhavda egna väl rengjorda kärl. 
                    Råmusten är sedan hållbar ca 3-5 dagar alternativt upp till ett år i frysen.
                </p>
            } 
            else
            {
                <p>Förpackningstyp saknas</p>
            }
            
        </div>

        <div>
            <h4>Tidsåtgång & prisuppskattning</h4>
            <p><i class="fa-solid fa-clock"></i> Tidsåtgång: @Model.SessionTime h</p>
            <p><i class="fa-solid fa-tag"></i> Pris: ca @Model.Price kr
            </p>
        </div>

        <a href="/" class="btn" id="btn-close-guide">Stäng</a>
    </div>
</body>
