@model BokaMust.Models.ViewModels.GuideViewModel 

<body>
    <div class="container-guide-results">
        <div>
            <h4>Ditt resultat</h4>
            <p>
                Baserat på informationen du matat in så har vi gjort följande beräkning.
                Observera att resultatet är ungefärligt.
            </p>
        </div>

        <div>
            <h4>Vald äppelsort</h4>
            <p><i class="fa-solid fa-apple-whole"></i> Namn: @(Model.GetSelectedApple()?.Name ?? "Ingen äppelsort vald")</p>
            <i class="fa-solid fa-info"></i> Smak: @(Model.GetSelectedApple()?.Description ?? "Ingen information om smak tillgänglig") och gott</p>
            <p><i class="fa-solid fa-calendar"></i> Mognadstid: @(Model.GetSelectedApple()?.HarvestMonth ?? "Ingen information om mognadstid tillgänglig")</p>
        </div>

        <div>
            <h4>Vald förpackningstyp</h4>
            <p><i class="fas fa-box"></i> @(Model.GetSelectedPackage()?.Name ?? "Ingen förpackning vald") (@Model.GetSelectedPackage()?.Cost kr/l)</p>
            <p>Pastöriserad must i Bag-in-box är hållbar i rumstemperatur minst ett år. 
               Öppnad förpackning bör förvaras i kylskåp och håller då 4 veckor</p>
        </div>

        <div>
            <h4>Tidsåtgång och prisuppskattning</h4>
            <p><i class="fa-solid fa-clock"></i> Tidsåtgång: @Model.SessionTime h</p>
            <p><i class="fa-solid fa-weight-scale"></i> Vikt: @Model.Weight kg</p>
            <p><i class="fa-solid fa-tag"></i> Genrellt sätt får man ut cirka 60% av fruktens vikt i must, 
                vilket betyder att dina @Model.Weight kg kommer bli ungefär @Model.Volume liter must.
                Detta innebär att du kommer få ca @Model.NumberOfBib st Bag-in-box med dig hem
                som kommer kosta ungefär @Model.Price kr
            </p>
        </div>

        <a href="/" class="btn" id="btn-close-guide">Stäng</a>
    </div>
</body>
