@model BokaMust.Models.ViewModels.GuideViewModel

<body>
    <div class="background-box">
        @Html.Partial("_LoadingScreen")
        <a href="/" class="btn-close" id="btn-close">X</a>
        <h4>Mustguiden</h4>
        <br />
        <form id="guideForm" asp-action="GuideResults" method="post" onsubmit="return validateForm()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <fieldset>
                <legend>Ange din äppelsort</legend>
                <br />
                <div class="custom-radio d-flex flex-wrap">
                    @foreach (var apple in Model.Apples)
                    {
                        <div class="col-4 p-0">
                            <input type="radio" id="@apple.Name" name="SelectedApple" autocomplete="off" value="@apple.Name" class="m-0" hidden>
                            <label for="@apple.Name"
                                   class="btn btn-outline-primary btn-block m-0"
                                   data-bs-toggle="modal"
                                   data-bs-target="#appleModal"
                                   data-apple-name="@apple.Name"
                                   data-apple-description="@apple.Description"
                                   data-apple-image-url="/img/apples/@apple.ImageFileName">
                                @apple.Name
                            </label>
                        </div>
                    }
                    <div class="col-12 p-0 unknown-apple">
                        <input type="radio" id="unknownApple" name="SelectedApple" autocomplete="off" value="unknownApple" class="m-0 hidden" />
                        <label for="unknownApple" class="btn btn-outline-primary btn-block m-0">Jag vet inte vilken äppelsort jag har</label>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <br />
                <br />
                <br />
                <legend>Hur vill du att din must förpackas?</legend>
                <br />
                <div class="custom-radio">
                    <input type="radio" id="bagInBox" name="SelectedPackage" autocomplete="off" value="Bag-in-box" hidden>
                    <label for="bagInBox" class="btn btn-outline-primary">
                        <i class="fas fa-box"></i> Bag-in-box
                    </label>

                    <input type="radio" id="rawMust" name="SelectedPackage" autocomplete="off" value="Råmust" hidden>
                    <label for="rawMust" class="btn btn-outline-primary">
                        <i class="fas fa-bottle-water"></i> Råmust
                    </label>
                </div>
            </fieldset>

            <div>
                <br />
                <label id="apple-weight" for="weight">Hur mycket äpplen vill du musta? (kg)</label>
                <br />
                <input type="text" id="weight" name="Weight" required placeholder="Minsta vikt 30kg">
                <br />
            </div>

            <div class="form-footer">
                <button type="submit" class="btn" id="btnSubmitGuide" disabled><i class="fa-solid fa-calculator"></i> Beräkna</button>
            </div>
        </form>
    </div>

    <!-- Modal Structure -->
    <div class="modal fade" id="appleModal" tabindex="-1" aria-labelledby="appleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="appleModalLabel">Apple Info</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img id="appleImage" src="" alt="Apple Image" class="img-fluid">
                    <h4 id="appleName"></h4>
                    <p id="appleDescription"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>







