@model BokaMust.Models.ViewModels.GuideViewModel

<h4>Mustguiden</h4>
<p>Här får du en guide till äppelmustningen</p>

<form id="guideForm" asp-area="" asp-controller="Guide" asp-action="GuideResults" method="post">

  @*   <div>
        <label>Ange din äppelsort</label>
        <br />
        <select id="appleDropdown" asp-for="SelectedApple.Name">
            <option value="" selected disabled>Välj</option>
            @foreach (var apple in AppleRepository.AllApples)
            {
                <option value="@apple.Name">@apple.Name</option>
            }
        </select>
    </div> *@

@*     <div>
        <label>Hur vill du att din must förpackas?</label>
        <br />
        @foreach (var packaging in PackagingRepository.AllPackages)
        {
            <div>
                <label>
                    <input type="radio" name="SelectedPackage.Name" value="@packaging.Name" />
                    @packaging.Name
                </label>
            </div>
        }
    </div> *@

    <div>
        <label>Ange din äppelsort</label>
        <br />
        <br/>
        <div class="d-flex flex-wrap">
            @foreach (var apple in AppleRepository.AllApples)
            {
                <div class="col-4 p-0">
                    <label class="btn btn-outline-primary btn-block m-0">
                        <input type="radio" name="SelectedAppleName" autocomplete="off" value="@apple.Name" class="m-0"> @apple.Name
                    </label>
                </div>
            }
        </div>
    </div>
    <br />

    <div>
        <label>Hur vill du att din must förpackas?</label>
        <br />
        <br />
        <div class="custom-radio">
            <label id="rawmust" class="btn btn-outline-primary">
                <input type="radio" name="SelectedPackageName" autocomplete="off" value="Råmust"> Råmust <i class="fas fa-box ml-1"></i>
            </label>
            <label id="bib" class="btn btn-outline-primary">
                <input type="radio" name="SelectedPackageName" autocomplete="off" value="BagInBox"> BagInBox <i class="fas fa-box ml-1"></i>
            </label>
        </div>
    </div>

    <div id="weight">
        <label>Hur mycket äpplen vill du musta?</label>
        <br />
        <br />
        <input type="text" id="inputWeight" asp-for="SelectedApple.WeightInput">
        <p>Ange vikt i kg, minsta vikt 30kg</p> 
        <br />
        <button type="submit" class="btn" id="btnSubmitGuide">Beräkna</button>
    </div>
</form> 




