@model BokaMust.Models.ViewModels.GuideViewModel 

<body>
    <div class="container-guide-results">
        <div>
            <h4>Ditt resultat</h4>
            <p>
                Baserat på informationen du matat in så har vi gjort följande beräkning.
                Observera att resultatet är ungefärligt.
            </p>
        </div>

        <div>
            <h4>Vald äppelsort:</h4>
            <p>Namn: @(Model.GetSelectedApple()?.Name ?? "Ingen äppelsort vald")</p>
            <p>Smak: @(Model.GetSelectedApple()?.Description ?? "Ingen information om smak tillgänglig")</p>
            <p>Mognadstid: @(Model.GetSelectedApple()?.HarvestMonth ?? "Ingen information om mognadstid tillgänglig")</p>
        </div>

        <div>
            <h4>Vald förpackningstyp:</h4>
            <p>Förpackning: @(Model.GetSelectedPackage()?.Name ?? "Ingen förpackning vald")</p>
            <p>Pris per liter: @Model.GetSelectedPackage()?.Cost kr</p>
            <p>Vikt: @Model.Weight kg</p>
            <p>Total kostnad: @Model.Price kr</p>
        </div>

        <a href="/" class="btn" id="btn-close-guide">Stäng</a>
    </div>
</body>
